<!-- templates/add_course.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">Add Course</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'add_course' %}">
      {% csrf_token %}
      {% if course_form.errors %}
        <div class="alert alert-danger">
          <strong>Error!</strong> Course with this title already exsits.
        </div>
      {% endif %}
      <div class="mb-3">
        <label for="id_title" class="form-label">Course Title:</label>
        <input type="text" name="title" id="id_title" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="id_image" class="form-label">Course Image:</label>
        <input type="file" name="image" id="id_image" class="form-control" accept="image/*">
      </div>
      <hr>
      <h4 class="mb-3">Add Videos</h4>
      <div id="video-formset">
        {{ video_formset.management_form }}
        <div class="card mb-3">
          <div class="card-body">
            <label for="id_videos-0-title" class="form-label">Video Title:</label>
            <input type="text" name="videos-0-title" id="id_videos-0-title" class="form-control" required>
            <br>
            <label for="id_videos-0-video_url" class="form-label">Video URL:</label>
            <input type="url" name="videos-0-video_url" id="id_videos-0-video_url" class="form-control" required>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" id="add-video">Add Video</button>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>

  
{% endblock %}
