<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Online Course website</title>
	<style>	
		body 
		{
  			background-image: url('background.jpg');
  			background-repeat: no-repeat;
		}
	</style>


	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">

  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
	<header>
		<a href="#" class="logo">
		</a>
		<u1 class="navbar">
			<li> <a href="index">Home</a></li>
			<li><a href="courses">Courses</a></li>
			<li><a href="#about">About</a> </li>
			<li><a href="contact">Contact</a></li>
		</u1>
		<div class="header-icons">
			<a href="profile"><i class="bx bx-user"></i>   </a>
			<a href="#"><i class="bx bx-menu"></i>   </a>
		</div>
	</header>
    {%block content%} {% endblock %}


</body>
</html>