

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Forgot Password</title>
	{% load static %}
	<link rel="stylesheet" href="{% static '/login.css' %} ">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<body>

	<div class="wrapper">
		<form action="">
			<h1>Forgot Password</h1>
			<div class="input-box">
				<input type="email" placeholder="Enter email" required>
				<i class='bx bxs-user'></i>
			</div>
			

			<button type="submit" name="button" class="btn">Submit</button>

			<div class="register-link">
				<p>Don't have an account?<a href="register">Register</a></p>
			</div>

		</form>

	</div>

</body>