<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Online Course website</title>
	<style>	
		body 
		{
  			background-image: url('background.jpg');
  			background-repeat: no-repeat;
		}
	</style>


	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">

  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
	<header>
		<a href="#" class="logo">
		</a>
		<u1 class="navbar">
			<li> <a href="#home">Home</a></li>
			<li><a href="#courses">Courses</a></li>
			<li><a href="#about">About</a> </li>
			<li><a href="#contact">Contact</a></li>
		</u1>
		<div class="header-icons">
			<a href="#"><i class="bx bx-user"></i>   </a>
			<a href="#"><i class="bx bx-menu"></i>   </a>
		</div>
	</header>


	<section class="home" id="home">
		<div class="home-text">
			<h6>Best Online Learning Platform</h6>
			<h1>Accessibe Online Course for All</h1>
			<p>Own you future learning new skills online</p>
			<div class="latter">
				<a href="login"><button type="submit">Student Login</button></a>
				<a href="edu_login"><button type="submit">Teacher Login</button></a>
			</div>
		</div>
		<div class="home-img">
			{% load static %}
			<img src="{%static '/object.webp' %}">
			}
		</div>
		
	</section>

	<script type="text/javascript" src="js/script.js"></script>


</body>
</html>